# To avoid line end handling by git (CRLF vs LF). When running the e2e testing on windows, the line handling on har files messed up with the tests.
# So we are just telling git to not change the har files here
*.har binary